<template>
  <div class="container">
    <div class="text">
      <h1>À PROPOS DE NOUS</h1>
      <div class="text-main">
        Nous sommes cinq étudiants vous proposant une solution pour faciliter
        l'automatisation des maintenances des ascenseurs.
      </div>
      <button @click="$router.push('/')">En savoir plus</button>
    </div>
    <div class="image-list">
      <div class="image-container">
        <img class="image" src="../assets/about.png" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "About",
};
</script>

<style scoped>
h1 {
  margin-top: 50px;
}
.container {
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 85%;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 1% auto 6% auto;
}

.image {
  object-fit: cover;
  border-radius: 0px 15px 15px 0px;
  max-width: 700px;
  width: 100%;
}

.image-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 6% auto;
}

button {
  margin-top: 30px;
  background: #2a3443;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 140px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
button:hover {
  background: white;
  color: #2c3e50;
}

.text .text-main {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

@media screen and (max-width: 1080px) {
  .text {
    text-align: center;
  }
  button {
    align-self: center;
  }
}

@media screen and (max-height: 750px) {
  .image-list {
    display: none;
  }
  .text {
    display: block;
  }
}
</style>
