<template>
  <div class="container">
    <h1>Vous avez besoin d'aide?</h1>
    <p class="text text-main">
      Pour nous contacter, veuillez remplir les différents champs du formulaire.
    </p>
    <div class="block">
      <div class="left">
        <h2 class="titre2">Contactez-nous</h2>
        <form @submit.prevent="submit(nom, prenom, email, sujet, message)">
          <div class="input-row">
            <div class="input-group">
              <label>Nom</label>
              <input type="text" placeholder="Dupont" v-model="nom" />
            </div>
            <div class="input-group">
              <label>Email</label>
              <input
                type="text"
                placeholder="dupont@mail.com"
                v-model="email"
              />
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Prénom</label>
              <input type="text" placeholder="Claude" v-model="prenom" />
            </div>
            <div class="input-group">
              <label>Sujet</label>
              <select v-model="sujet">
                <option value="">Select a subject</option>
                <option value="probleme">Problème</option>
                <option value="question">Question</option>
                <option value="autre">Autre</option>
              </select>
            </div>
          </div>

          <div class="input-group">
            <label>Message</label>
            <textarea rows="6" placeholder="..." v-model="message"></textarea>
          </div>
          <button type="submit">envoyer</button>
        </form>
      </div>
      <div class="right">
        <img class="imageHelp" src="../assets/contact.jpg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nom: "",
      prenom: "",
      email: "",
      sujet: "",
      message: "",
    };
  },
  async mounted() {},
  methods: {
    submit(nom, prenom, email, sujet, message) {
      this.$emit("submit-contact", nom, prenom, email, sujet, message);
    },
  },
};
</script>

<style scoped>
h1 {
  margin-top: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  min-height: calc(100vh - 4em);
  align-items: center;
}

.titre2 {
  font-size: 35px;
  margin-bottom: 30px;
}

.text {
  margin: 1% 5% 4% 5%;
  max-width: 700px;
}

.block {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 15px;
  width: 50%;
  justify-content: center;
}

.left {
  display: flex;
  flex-basis: 55%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8% 5%;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-group {
  text-align: left;
}

.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  opacity: 0.7;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(177, 177, 177);
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  color: black;
}

button {
  background: #3388ac;
  width: 100px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  height: 30px;
  border-radius: 3px;
  margin-top: 20px;
  margin-left: 100%;
  transform: translate(-100%);
}

.right {
  flex-basis: 40%;
}

.imageHelp {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0px 15px 15px 0px;
}

@media screen and (max-width: 1080px) {
  .right {
    display: none;
  }
  .left {
    flex-basis: 85%;
    display: flex;
    justify-content: center;
  }
  .block {
    width: 90%;
    margin-bottom: 20px;
    overflow: hidden;
  }
  button {
    transform: none;
    margin: 0;
  }
}
</style>
