<template>
  <div class="container">
    <section class="one">
      <h1>SKYWARD</h1>
      <p class="text-main">
        Une application permettant de faciliter l'automatisation et la maintenance des ascenseurs.
      </p>
      <button @click="$router.push('/price')">Découvrir</button>
    </section>
    <div class="shape-left"></div>
    <div class="shape-right"></div>
    <section class="two">
      <div class="text">
        <h1>Fonctionnalités</h1>
        <h2>Voici des exemples de ce que propose notre application.</h2>
      </div>
      <div class="row">
        <div class="column">
          <p class="title">Les statistiques</p>
          <p>
            Ce système vous permettra de voir, comparer différents éléments afin
            de mieux prévoir comment gérer les futures maintenances des
            ascenseurs
          </p>
        </div>
        <div class="column">
          <p class="title">Ajouter ou supprimer des ascenseurs</p>
          <p>
            Le manager pourra facilement ajouter ou supprimer les ascenseurs que
            vous devez gérer. Ce qui lui permettra d'avoir accès à toutes les
            informations rapidements.
          </p>
        </div>
        <div class="column">
          <p class="title">La map</p>
          <p>
            Grâce à la map, vous pourrez facilement voir où se situe l'ascenseur
            que vous avez selectionné.
          </p>
        </div>
      </div>
    </section>
    <section class="three">
      <iframe src="https://editor.wideo.co/player?wideoId=34628701625429419920&repeat=true&autoplay=true%22%3Erel=0&amp;autoplay" iframe allowfullscreen="allowfullscreen" frameborder="no"></iframe>
    </section>
    <section class="four">
      <div class="row-four">
        <div class="text-four">
          <h1>Pour vous organiser plus vite</h1>
          <h2>Analyser tout ce qui se passe en temps réel <br> avec des tableaux de donnée et statistique</h2>
          <button @click="$router.push('/price')">Découvrir</button>
        </div>
        <div class="image-container">
          <img class="image" src="../assets/pc.png" alt="" />
        </div>
      </div>
    </section>
    <section class="five">
      <div class="column-five">
        <div class="text-five">
          <h1>Nos partenaires</h1>
        </div>
        <div class="row-list-partner">
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-google.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-amazon.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-microsoft.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-uber.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-dropbox.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-google.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-uber.png" alt="" />
            </div>
          </div>
          <div class="column-logo">
            <p>Client Name</p>
            <div class="logo-container">
              <img class="logo" src="../assets/logo-amazon.png" alt="" />
            </div>
          </div>
        </div>
        <button @click="$router.push('/price')">Découvrir</button>
      </div>
    </section>
    <section id="six">
      <div class="left">
        <div class="rounded-shape"></div>
        <div class="left-text">
          <p>Notre équipe</p>
          <h1>Qui sommes nous ?</h1>
          <h2>
            Nous sommes 5 étudiants de l'efrei prêt à changer le monde.
          </h2>
        </div>
      </div>
      <div class="right">
        <div class="right-column">
          <div class="portrait-container">
            <transition name="fade">
              <div
                :style="
                  showDescription1
                    ? 'visibility: hidden;'
                    : 'visibility: visible'
                "
                v-on:click="showDescription1 = !showDescription1"
                class="description"
                id="un"
              >
                <p>Développeur full-stack</p>
              </div>
            </transition>
            <img
              v-on:click="showDescription1 = !showDescription1"
              class="portrait"
              id="size1"
              src="../assets/séverin.png"
              alt=""
            />
          </div>
          <div class="portrait-container">
            <transition name="fade">
              <div
                :style="
                  showDescription2
                    ? 'visibility: hidden;'
                    : 'visibility: visible'
                "
                v-on:click="showDescription2 = !showDescription2"
                class="description"
                id="deux"
              >
                <p>Développeur front-end.</p>
              </div>
            </transition>
            <img
              v-on:click="showDescription2 = !showDescription2"
              class="portrait"
              id="size2"
              src="../assets/jb.jpg"
              alt=""
            />
          </div>
          <div class="portrait-container">
            <transition name="fade">
              <div
                :style="
                  showDescription3
                    ? 'visibility: hidden;'
                    : 'visibility: visible'
                "
                v-on:click="showDescription3 = !showDescription3"
                class="description"
                id="trois"
              >
                <p>Développeur back-end.</p>
              </div>
            </transition>
            <img
              v-on:click="showDescription3 = !showDescription3"
              class="portrait"
              id="size3"
              src="../assets/louis.jpg"
              alt=""
            />
          </div>
        </div>
        <div class="right-column">
          <div class="portrait-container">
            <transition name="fade">
              <div
                :style="
                  showDescription4
                    ? 'visibility: hidden;'
                    : 'visibility: visible'
                "
                v-on:click="showDescription4 = !showDescription4"
                class="description"
                id="quatre"
              >
                <p>Développeur front-end.</p>
              </div>
            </transition>
            <img
              v-on:click="showDescription4 = !showDescription4"
              class="portrait"
              id="size4"
              src="../assets/aymeric.png"
              alt=""
            />
          </div>
          <div class="portrait-container">
            <transition name="fade">
              <div
                :style="
                  showDescription5
                    ? 'visibility: hidden;'
                    : 'visibility: visible'
                "
                v-on:click="showDescription5 = !showDescription5"
                class="description"
                id="cinq"
              >
                <p>Développeur front-end.</p>
              </div>
            </transition>
            <img
              v-on:click="showDescription5 = !showDescription5"
              class="portrait"
              id="size5"
              src="../assets/thomas.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      scroll: "",
      showDescription1: "false",
      showDescription2: "false",
      showDescription3: "false",
      showDescription4: "false",
      showDescription5: "false",
    };
  },
};
</script>

<style scoped>
.one {
  background-image:  url("../assets/ascenseur.png");
  background-size: cover;
  background-position: bottom;
  width: 100%;
  min-height: calc(95vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.two {
  width: 100%;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}

.three {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.four {
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.five {
  min-height: calc(100vh - 4em);
}

#six {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 4em);
}


.one::after,
.one::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 25%;
  background: #f5f7fe;
  bottom: -5em;
}

.one::before {
  right: 50%;
  transform: skew(0, 10deg);
}

.one::after {
  left: 50%;
  transform: skew(0, -10deg);
}

button {
  background: #2a3443;
  color: white;
  font-family: "Poppins", sans-serif;
  width: 140px;
  height: 45px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
  margin: 0 auto 50px auto;
}
button:hover {
  background: white;
  color: #2c3e50;
}

.one p,
.one h1 {
  color: white;
  max-width: 600px;
}

.one h1 {
  margin: 0 auto 30px auto;
  font-size: 5.5em;
}
.one p {
  margin: 0 auto 60px auto;
}

.text {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px 0;
  padding: 0 20px;
}

.text h1 {
  font-weight: bold;
}

.text h2 {
  font-weight: normal;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.column {
  max-width: 230px;
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  border: 0;
}

.row-four {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.text-four {
  text-align: left;
  padding: 0 20px;
}

.text-four h1 {
  margin-bottom: 30px;
  max-width: 400px;
}

.text-four h2 {
  font-weight: normal;
}

.text-four button {
  margin-top: 60px;
}

.image {
  object-fit: cover;
  border-radius: 0px 15px 15px 0px;
  max-width: 700px;
  width: 100%;
}

.column-five {
  display: flex;
  flex-direction: column;
}

.text-five {
  padding: 0 20px;
  margin-bottom: 80px;
}

.text-five h1 {
  margin-bottom: 20px;
}

.row-list-partner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
}

.column-logo {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  border: 1px solid #dedede;
  box-sizing: border-box;
}

.column-logo p {
  margin-top: 20px;
}

.logo-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.right {
  flex-basis: 70%;
  min-width: 800px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left {
  flex-basis: 30%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.left-text {
  text-align: left;
  margin: 20% auto 0 auto;
  max-width: 330px;
  padding: 30px;
  border-radius: 10% 90% 68% 32% / 67% 68% 32% 33%;
}
.left-text h1 {
  font-size: 5em;
  line-height: 1em;
  text-decoration: underline;
}
.left-text h2 {
  margin: 2em 0;
}
.left-text p {
  margin: 2em 0;
  font-weight: bold;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portrait-container {
  border-radius: 50%;
}

.portrait-container img {
  cursor: pointer;
}

.portrait {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.description {
  position: absolute;
  text-align: left;
  background-color: white;
  max-width: 280px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  padding: 10px 20px;
  text-align: center;
}

#un {
  transform: translate(50%, 170%);
  cursor: pointer;
}
#deux {
  transform: translate(70%, 100%);
  cursor: pointer;
}
#trois {
  transform: translate(-30%);
  cursor: pointer;
}
#quatre {
  transform: translate(-70%, 80%);
  cursor: pointer;
}
#cinq {
  transform: translate(-70%);
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

#size1 {
  width: 15vw;
  height: 15vw;
  margin: 0 20vw 0 0;
}
#size2 {
  width: 12vw;
  height: 12vw;
  margin: 0 0 0 20vw;
}
#size3 {
  width: 18vw;
  height: 18vw;
  margin: 0 8vw 0 0;
}
#size4 {
  width: 17vw;
  height: 17vw;
  margin: 3vw 0 8vw 0;
}
#size5 {
  width: 15vw;
  height: 15vw;
  margin: 0 0 3vw 0;
}

.rounded-shape {
  background-color: #2a3443;
  opacity: 0.06;
  position: absolute;
  width: 40vw;
  left: 1%;
  height: 90vh;
  border-radius: 10% 90% 68% 32% / 67% 68% 32% 33%;
  z-index: -1;
}

@media screen and (max-width: 1080px) {
  .text-four {
    text-align: center;
  }

  .text-four h1 {
    margin: 0 auto 30px auto;
  }

  iframe {
    width: 90%;
    height: 90%;
  }

  #six {
    flex-wrap: wrap;
    justify-content: center;
  }

  .rounded-shape {
    left: 50%;
    transform: translate(-50%);
    width: 100vw;
    max-width: 500px;
  }

  .left {
    flex-basis: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .right {
    flex-basis: 100%;
    flex-direction: column;
    min-width: 0;
  }
  .portrait-container {
    margin: auto;
    align-self: flex-start;
    display: flex;
    flex-direction: row-reverse;
  }

  #size1 {
    min-width: 20vh;
    min-height: 20vh;
    margin: 10px;
  }
  #size2 {
    min-width: 20vh;
    min-height: 20vh;
    margin: 10px;
  }
  #size3 {
    min-width: 20vh;
    min-height: 20vh;
    margin: 10px;
  }
  #size4 {
    min-width: 20vh;
    min-height: 20vh;
    margin: 10px;
  }
  #size5 {
    min-width: 20vh;
    min-height: 20vh;
    margin: 10px;
  }

  .description {
    position: initial;
    height: auto;
    margin: auto 10px;
  }

  #un {
    transform: initial;
  }
  #deux {
    transform: initial;
  }
  #trois {
    transform: initial;
  }
  #quatre {
    transform: initial;
  }
  #cinq {
    transform: initial;
  }

  .left-text {
    text-align: left;
    margin: 0 auto 0 auto;
  }
  .left-text h1 {
    font-size: 4em;
    line-height: 1em;
    text-decoration: underline;
  }

  .one h1{
    font-size: 4em;
  }

  .text h1{
    font-size: 2.5em;
  }
}

</style>
