<template>
  <div class="container">
    <img class="logo" src="../assets/logo_icone.svg" alt="Skyward">
    <div class="container-right">
      <h2>Bienvenue !</h2>
      <p>Entrez vos données personnelles à votre compte d'employé</p>
    </div>
    <div class="container-left">
      <p class="error" v-if="hasError()">Identifiant ou mot de passe incorrect !</p>
      <form @submit="login" method="post" action="/login">
        <h2 class="title-se-connecter">Se connecter</h2>
        <p class="paragraph-signUp">
          Veuillez vous connecter pour continuer
        </p>
        <div class="email">
          <input class="input1"
            type="email"
            name="email"
            placeholder="E-mail"
            v-model="email"
            required
          />
        </div>
        <div class="password">
          <input class="input1"
            type="password"
            name="password"
            placeholder="mot de passe"
            v-model="password"
            required
          />
        </div>
        <div class="remember">
          <p>Remember me</p>
          <input type="checkbox" name="remember-me" />
        </div>
        <button type="submit"><p class="se-connecter">Se connecter</p></button>
        <p class="paragraphSignIn">
          Vous n'avez pas de compte ?
          <router-link to="/register" class="register">S'inscrire</router-link>
        </p>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async login() {
      this.$emit("updateuser");
    },
    hasError() {
      return this.$route.query.error !== undefined;
    },
  },
  beforeRouteEnter(to, from, next) {
    axios
      .get("/api/user")
      .then((res) => next("/map"))
      .catch((err) => next());
  },
};
</script>

<style scoped>
.error {
  padding: 15px 0;
  margin: 10px 0;
  background: rgb(200, 91, 91);
  border: 1px solid red;
  width: 90%;
  border-radius: 15px;
  color: #fff;
}

.remember {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3%;
}

.remember * {
  margin: 0 10px 0 0;
}

.remember input {
  width: 20px;
  height: 20px;
}

.container {
  min-height: calc(100vh - 4em);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-size: 100% 100%;
}

.container-left {
  flex-basis: 40%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: white;
  border-radius: 25px;
  min-height: 700px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

form {
  align-content: center;
  margin: auto;
  width: 96%;
  padding: 11px;
}

input {
  margin-top: 3%;
  width: 60%;
  height: 35px;
  padding: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
}

input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #a1a1a1;
}

p {
  margin-top: 5%;
}

button {
  margin-top: 7%;
}

h2 {
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #3489ac;
}

.paragraph-signUp {
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #c7c7c7;
  margin-bottom: 5px;
}

.paragraphSignIn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  justify-content: center;
  color: #000000;
}

button {
  width: 60%;
  height: 62.54px;
  background: linear-gradient(90deg, #3489ac -0.06%, #34ac93 99.95%);
  box-shadow: 2px 9px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

button p {
  margin-top: -5px;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 46px;
  color: #ffffff;
  justify-content: center;
}

.container-right {
  flex-basis: 40%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.container-right h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  /* identical to box height */
  justify-content: center;
}

.container-right p {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 35px;
  justify-content: center;
}

.register {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #358bac;
  text-decoration: none;
}

.se-connecter{
  font-size: 2.4em;
}

.logo{
  display: none;
}

@media screen and (max-width: 1183px) {
  .container-right p, .container-right h2 {
    display: none;
  }
  .container-left {
    min-width: 600px;
    min-height: 600px;
  }
  .container{
    flex-direction: column;
  }
}
@media screen and (max-width: 1080px) {
  input {
    width: 60%;
    height: 35px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
  }

  .container-left {
    width: 60%;
    min-height: 430px;
    min-width: 340px;
    justify-content: center;
  }

  input {
    height: 3vh;
    width: 70%;
  }
  form {
    margin: 5vh 0 5vh 0;
    padding-top: 0;
  }

  button {
    margin: 5vh 0 5vh 0;
  }

  .paragraphSignIn {
    margin: 0 0 0 0;
  }

  .se-connecter{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 80px;
  }
  .container-left form{
    margin: 0;
  }
  button{
    margin: 20px 0 10px 0;
    width: 60%;
    height: 50px;
  }
  .title-se-connecter{
    font-size: 2.5em;
  }
  .paragraph-signUp{
    font-size: 1em;
    max-width: 250px;
    margin: 0 auto 20px auto;
    line-height: 20px;
  }
  input{
    height: 15px;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
  }
  input::placeholder {
    font-size: 1em;
  }
  .paragraphSignIn{
    font-size: .8em;
  }
  .register{
    font-size: 1.1em;
  }
  .container-left {
    width: 60%;
    min-height: 390px;
    min-width: 340px;
    justify-content: center;
    margin-bottom: 40px;
  }
  .remember input {
    width: 15px;
    height: 15px;
  }
}
</style>
