<template>
  <div id="map">
    <div id="container-filtres">
      <p class="refresh" @click="updateMaintenance()">🗘</p>
      <div class="image-container">
        <img src="../assets/logo_icone.svg" alt="Skyward" />
      </div>
      <div class="bt_all">
        <button
          :class="['bt_one', { bt_sel: selector === 1 }]"
          id="Maintenance"
          value="Maintenance"
          @click="selector = 1"
          v-if="isManager()"
        >
          Maintenances
        </button>
        <button
          :class="['bt_one', { bt_sel: selector === 2 }]"
          id="Reparation"
          value="Réparation"
          @click="selector = 2"
          v-if="isManager()"
        >
          Réparations
        </button>
        <button
          :class="['bt_one', { bt_sel: selector === 3 }]"
          id="MyMaintenance"
          value="MyMaintenance"
          @click="selector = 3"
          v-if="myMaintenance.length > 0"
        >
          Mes missions
        </button>
        <button class="bt_one" id="Tout" value="Tout" @click="showAddElevator">+</button>
      </div>
      <div class="espace"></div>
      <ul id="list-elevator">
        <div :key="index" v-for="(m, index) in getMaintenances()" @click="showMaintenance(m)">
          <ascenseur :maintenance="m"></ascenseur>
        </div>
      </ul>
    </div>

    <div id="container-map">
      <GmapMap id="gmap" :center="center" :zoom="12" :options="optionMap" map-type-id="terrain">
        <GmapMarker
          :key="index"
          v-for="(m, index) in getMaintenances()"
          :position="{ lat: m.elevator.lat, lng: m.elevator.lng }"
          :clickable="true"
          :draggable="false"
          @click="showMaintenance(m)"
        ></GmapMarker>

        <GmapMarker
          :key="index"
          v-for="(e, index) in getElevators()"
          :position="{ lat: e.lat, lng: e.lng }"
          :clickable="true"
          :draggable="false"
          @click="center = { lat: e.lat, lng: e.lng }"
        ></GmapMarker>
      </GmapMap>

      <div
        v-if="isShowAddElevator || getShowMaintenance !== null"
        class="background"
        @click="
          hideMaintenance();
          hideAddElevator();
        "
      ></div>

      <ajout-ascenseur
        v-if="isShowAddElevator"
        :hideAddElevator="hideAddElevator"
        :elevatorsTypes="elevatorsTypes"
        class="modale"
      ></ajout-ascenseur>

      <MaintenanceDetails
        v-if="getShowMaintenance !== null"
        :hideMaintenance="hideMaintenance"
        :maintenance="getShowMaintenance"
        :users="users"
        @removeMaintenance="removeMaintenance"
        @updateMaintenance="updateMaintenance"
        class="modale"
      ></MaintenanceDetails>

      <div id="display-elevators">
        <p>Display all</p>
        <input type="checkbox" v-model="allElevator" @click="updateElevator" />
      </div>
    </div>
  </div>
</template>

<script>
import styles from "../assets/gmap_design.js";
import AjoutAscenseur from "../components/AjoutAscenseur.vue";
import MaintenanceDetails from "../components/MaintenanceDetails.vue";
import Ascenseur from "../components/Ascenseur.vue";

export default {
  name: "Header",
  props: {
    myMaintenance: { Array, default: [] },
    maintenances: { Array, default: [] },
    elevators: { Array, default: [] },
    elevatorsTypes: { Array, default: [] },
    users: { Array, default: [] },
    user: { Object, default: {} },
  },
  data() {
    return {
      optionMap: {
        styles,
      },
      center: { lat: 48.8534, lng: 2.3488 },
      selector: 3,
      isShowAddElevator: false,
      getShowMaintenance: null,
      currentShowMaintenanceId: null,
      allElevator: false,
    };
  },
  components: {
    AjoutAscenseur: AjoutAscenseur,
    Ascenseur: Ascenseur,
    MaintenanceDetails: MaintenanceDetails,
  },
  mounted() {
    console.log(this.myMaintenance);
    if (this.myMaintenance.length == 0 && this.isManager()) this.selector = 1;
  },
  methods: {
    getElevators() {
      if (this.allElevator) return this.elevators;
      else return [];
    },
    updateElevator() {
      this.$emit("getAllElevator");
    },
    showAddElevator() {
      this.isShowAddElevator = true;
      this.getShowMaintenance = null;
    },
    hideAddElevator() {
      this.isShowAddElevator = false;
    },
    showMaintenance(maintenance) {
      this.isShowAddElevator = false;
      this.getShowMaintenance = maintenance;
    },
    hideMaintenance() {
      this.getShowMaintenance = null;
    },
    removeMaintenance(maintenanceId) {
      this.$emit("removeMaintenance", maintenanceId);
    },
    isManager() {
      return this.user !== null && this.user.rank.name === "manager";
    },
    getMaintenances() {
      if (this.selector === 1) {
        return this.getMaintenancesType(1);
      } else if (this.selector === 2) {
        return this.getMaintenancesType(2);
      } else if (this.selector === 3) {
        return this.myMaintenance;
      } else {
        return [];
      }
    },
    getMaintenancesType(type) {
      let res = [];
      for (let i = 0; i < this.maintenances.length; i++) {
        if (this.maintenances[i].maintenanceType.id === type) res.push(this.maintenances[i]);
      }
      return res;
    },
    updateMaintenance() {
      if (this.getShowMaintenance !== null && this.getShowMaintenance !== undefined)
        this.currentShowMaintenanceId = this.getShowMaintenance.id;
      this.$emit("updateMaintenance");
    },
  },
  watch: {
    maintenances: function(newVal, oldVal) {
      if (this.currentShowMaintenanceId !== null) {
        const res = newVal.find((maintenance) => maintenance.id === this.currentShowMaintenanceId);
        if (res !== undefined) {
          this.getShowMaintenance = res;
        }
        this.currentShowMaintenanceId = null;
      }
    },
  },
};
</script>

<style scoped>
#display-elevators {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  display: flex;
}

.bt_sel {
  background: rgb(73, 90, 116) !important;
  color: white !important;
}

.refresh {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.background {
  position: absolute;
  z-index: 6;
  top: 0;
  background: #2a344365;
  width: 100%;
  height: 100%;
}

.image-container {
  width: 70px;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.espace {
  height: 30px;
}

#map {
  display: flex;
  height: calc(100vh - 4em);
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#container-map {
  position: relative;
  border-radius: 10px;
  width: 72%;
  overflow: hidden;
  height: 95%;
}

#container-filtres {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 22%;
  max-width: 400px;
  border-radius: 10px;
  height: 95%;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.04);
  padding: 0 1.5%;
  overflow: hidden;
}

#gmap {
  width: 100%;
  height: 100%;
  box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.04);
}

hr {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 12%;
}

.bt_all {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.bt_one {
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  width: 115px;
  height: 33px;
  font-family: "Poppins", sans-serif;
  transition: 0.5s;
}
#Maintenance.bt_one,
#Reparation.bt_one {
  margin: 0 10px 5px 10px;
}

.bt_one:hover {
  background: #2a3443;
  color: white;
}

#Tout.bt_one {
  width: 33px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  font-weight: bold;
}

hr {
  display: flex;
  justify-content: center;
  width: 210px;
}

.modale {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 7;
  top: 10px;
  border-radius: 10px;
  height: calc(100% - 20px);
  overflow-y: auto;
}

ul#list-elevator {
  max-height: 70vh;
  overflow-y: auto;
}

@media screen and (max-width: 1080px) {
  #map {
    flex-direction: column;
  }
  #container-filtres {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    min-width: 90%;
    max-height: 120px;
  }

  ul#list-elevator {
    margin-left: 0;
    display: flex;
    flex-direction: row;
  }
  .bt_all {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  button {
    max-height: 25px;
  }
  #Tout {
    max-width: 25px;
    margin: 0 auto 0 auto;
  }

  li.item {
    min-width: 80px;
    height: 80px;
    padding: 10px;
    overflow: hidden;
  }

  #barre {
    display: none;
  }

  #container-map {
    width: 93%;
  }

  #gmap {
    width: 100%;
    height: 100%;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.04);
  }

  .image-container {
    display: none;
  }

  #container-map {
    margin-bottom: 3%;
  }
}
</style>
