<template>
  <div class="price">
    <div class="header-title">
      <h1 class="title">Tarification</h1>
      <p class="subtitle text-main">
        Skyward propose des taux et des plans tarifaires compétitifs pour vous
        aider à trouver celui qui correspond à vos besoins et à votre budget.
      </p>
    </div>

    <div class="container-selector">
      <p>Mensuel</p>
      <div class="selector">
        <label class="form-switch">
          <input type="checkbox" v-model="switch_price" />
          <i></i>
        </label>
      </div>
      <p>Annuel</p>
    </div>

    <div class="subscription-flex">
      <div
        :class="['subscription-container', sub.popular ? 'colorize' : '']"
        v-for="sub in subscription_list"
        :key="sub.pack"
      >
        <div class="subscription-popular" v-if="sub.popular">
          <p class="text-popular">Popular</p>
        </div>
        <p class="subscription-pack">{{ sub.pack }}</p>

        <transition name="fade" mode="out-in">
          <h2 class="subscription-price" v-if="switch_price" key="year">
            {{ sub.price_year }}
          </h2>
          <h2 class="subscription-price" v-else key="month">
            {{ sub.price_month }}
          </h2>
        </transition>

        <hr />
        <div class="subscription-list">
          <ul class="subscription-service">
            <li v-for="list in sub.services" :key="list">{{ list }}</li>
          </ul>
        </div>
        <div class="subscription-button">
          <button type="button" href="/">Abonnez-vous</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      switch_price: false,

      subscription_list: [
        {
          popular: false,
          pack: "Basic",
          price_month: "30 €",
          price_year: "120 €",
          services: ["Interventions 8H-18H, 5j/7.", "Map"],
        },
        {
          popular: true,
          pack: "Premium",
          price_month: "45 €",
          price_year: "180 €",
          services: ["Interventions 8H-22H, 7j/7.", "Map"],
        },
        {
          popular: false,
          pack: "Ultimate",
          price_month: "70 €",
          price_year: "350 €",
          services: ["Interventions 8H-22H, 7j/7.", "Map", "Statistique"],
        },
      ],
    };
  },
};
</script>

<style scoped>
.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-selector {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.container-selector p {
  margin: 0 15px;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.subtitle {
  text-align: center;
  max-width: 800px;
  margin: 1% 5% 0 5%;
}

.subscription-flex {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription-container {
  position: relative;
  background: #ffffff;
  border: 3px solid #e0e4e5;
  box-sizing: border-box;
  border-radius: 15px;
  width: 380px;
  height: 480px;
  margin: 33px;
}

.subscription-popular {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 5px;
  width: 80px;
  height: 36px;
  background: #f48e77;
  border-radius: 8px;
  cursor: pointer;
}

.colorize {
  background-color: #344a5e;
}

.colorize ul,
.colorize .subscription-pack,
.colorize .subscription-price {
  color: white;
}

.subscription-popular p {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}

.subscription-pack {
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  color: #9a9c9e;
  margin-top: 15px;
}

.subscription-price {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 94px;
  text-align: center;
  margin-bottom: 12px;
  color: #3b3d3d;
}

hr {
  border: 1px solid #e0e4e5;
  width: 330px;
  margin: auto;
}

ul {
  margin-top: 30px;
  list-style: none; /* Remove default bullets */
  margin-bottom: 45px;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 47px;
  color: #3b3d3d;
}

ul li::before {
  content: "\2022";
  color: #6dda8a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.subscription-button,
button {
  width: 150px;
  height: 50px;
  background: #eef2f3;
  border-radius: 15px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #385363;
  text-align: center;
  cursor: pointer;
  margin: auto;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.subscription-button,
button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #6dda8a;
  color: white;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}

.form-switch input {
  display: none;
}

.form-switch input:checked + i {
  background-color: #4bd763;
}

.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter {
  transform: rotateX(-90deg);
}

.fade-enter-to {
  transform: rotateX(0deg);
}

.fade-leave {
  transform: rotateX(0deg);
}

.fade-leave-to {
  transform: rotateX(90deg);
}
</style>
