<template>
  <div class="container">
        <img class="logo" src="../assets/logo_icone.svg" alt="Skyward">
    <div class="container-left">
      <form @submit.prevent="register">
        <h2 class="title-inscrire">S'inscrire</h2>
        <p class="paragraph-signUp">Inscrivez-vous pour continuer</p>
        <div class="email">
          <input type="email" placeholder="E-mail" v-model="email" required />
        </div>
        <div class="name">
          <input type="text" placeholder="Nom" v-model="name" required />
        </div>
        <div class="password">
          <input
            type="password"
            placeholder="Mot de passe"
            v-model="password"
            :class="{ error: password !== passwordConfirm }"
            required
          />
        </div>
        <div class="password">
          <input
            type="password"
            placeholder="Confirmation du mot de passe"
            v-model="passwordConfirm"
            :class="{ error: password !== passwordConfirm }"
            required
          />
        </div>
        <button type="submit"><p class="inscrire">S'inscrire</p></button>
        <p class="paragraphSignIn">
          Vous avez déjà un compte ?
          <router-link to="/login" class="login">Se connecter</router-link>
        </p>
      </form>
    </div>

    <div class="container-right">
      <h2>Rejoignez-nous</h2>
      <p>Entrez vos données personnelles et commencez votre voyage avec nous</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Object, default: undefined },
  },
  data() {
    return {
      email: "",
      name: "",
      password: "",
      passwordConfirm: "",
    };
  },
  methods: {
    async register() {
      if (this.password !== this.passwordConfirm) return;
      this.$emit("registeruser", {
        email: this.email,
        name: this.name,
        password: this.password,
      });
    },
  },
  beforeRouteEnter(to, from, next) {
    axios
      .get("/api/user")
      .then((res) => next("/map"))
      .catch((err) => next());
  },
};
</script>

<style scoped>
.container {
  min-height: calc(100vh - 4em);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-size: 100% 100%;
}

.container-left {
  flex-basis: 40%;
  min-width: 340px;
  display: flex;
  align-self: center;
  background-color: white;
  border-radius: 25px;
  min-height: 38vw;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

form {
  align-content: center;
  margin: auto;
  width: 100%;
  padding: 11px;
}

input {
  margin-top: 2%;
  width: 60%;
  height: 35px;
  padding: 10px;
  background: #fafafa;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
}

input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #a1a1a1;
}

button,
p {
  margin-top: 5%;
}

h2 {
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #3489ac;
}

.paragraph-signUp {
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #c7c7c7;
}

.paragraphSignIn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  justify-content: center;
  color: #000000;
}

button {
  width: 60%;
  height: 62.54px;
  background: linear-gradient(90deg, #3489ac -0.06%, #34ac93 99.95%);
  box-shadow: 2px 9px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  font-family: "Poppins", sans-serif;
}

button p {
  margin-top: -5px;
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 46px;
  color: #ffffff;
  justify-content: center;
}

.container-right {
  flex-basis: 40%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.container-right h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 108px;
  /* identical to box height */
  justify-content: center;
}

.container-right p {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 35px;
  justify-content: center;
}

.login {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 27px;
  color: #358bac;
  text-decoration: none;
}

.error {
  -webkit-box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.93);
  -moz-box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.93);
  box-shadow: 0px 0px 3px rgba(255, 0, 0, 0.93);
  background-color: rgb(255, 235, 235);
}

.logo{
  display: none;
}

@media screen and (max-width: 1183px) {
  .container-right p, .container-right h2 {
    display: none;
  }
  .container-left {
    min-width: 600px;
    min-height: 600px;
  }
  .container{
    flex-direction: column;
  }
}
@media screen and (max-width: 1080px) {
  input {
    width: 60%;
    height: 35px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
  }

  .container-left {
    width: 60%;
    min-height: 430px;
    min-width: 340px;
    justify-content: center;
  }

  input {
    height: 3vh;
    width: 70%;
    margin-top: 10px;
  }
  form {
    margin: 5vh 0 5vh 0;
    padding-top: 0;
  }

  button {
    margin: 5vh 0 5vh 0;
  }

  .paragraphSignIn {
    margin: 0 0 0 0;
  }

  .inscrire{
    font-size: 1.5em;
  }
}
@media screen and (max-width: 600px) {
  .logo{
    display: block;
    margin: 0 auto 20px auto;
    width: 80px;
  }
  .container-left form{
    margin: 0;
  }
  button{
    margin: 30px 0 10px 0;
    width: 60%;
    height: 50px;
  }
  .title-inscrire{
    font-size: 2.5em;
  }
  .paragraph-signUp{
    font-size: 1em;
    max-width: 250px;
    margin: 0 auto 20px auto;
    line-height: 20px;
  }
  input{
    height: 15px;
    width: 60%;
    border-radius: 10px;
  }
  input::placeholder {
    font-size: 1em;
  }
  .paragraphSignIn{
    font-size: .8em;
  }
  .login{
    font-size: 1.1em;
  }
  .container-left {
    width: 60%;
    min-height: 390px;
    min-width: 340px;
    justify-content: center;
  }
}
</style>
