<template>
  <div class="container">
    <div class="liste">
      <div class="element" id="un">
        <div class="top-element">
          <p>En cours</p>
          <select v-model="trierEnCours">
            <option id="gradient1" value="">Semaine</option>
            <option id="gradient1" value="mois">Mois</option>
            <option id="gradient1" value="annee">Année</option>
          </select>
        </div>
        <h3>{{ enCours }}</h3>
      </div>
      <div class="element" id="deux">
        <div class="top-element">
          <p>Terminés</p>
          <select v-model="trierTermine">
            <option id="gradient2" value="">Semaine</option>
            <option id="gradient2" value="mois">Mois</option>
            <option id="gradient2" value="annee">Année</option>
          </select>
        </div>
        <h3>{{ termine }}</h3>
      </div>
      <div class="element" id="trois">
        <div class="top-element">
          <p>En panne</p>
          <select v-model="trierEnPanne">
            <option id="gradient3" value="">Semaine</option>
            <option id="gradient3" value="mois">Mois</option>
            <option id="gradient3" value="annee">Année</option>
          </select>
        </div>
        <h3>{{ enPanne }}</h3>
      </div>
      <div class="element" id="quatre">
        <div class="top-element">
          <p>Réparations</p>
          <select v-model="trierReparation">
            <option id="gradient4" value="">Semaine</option>
            <option id="gradient4" value="mois">Mois</option>
            <option id="gradient4" value="annee">Année</option>
          </select>
        </div>
        <h3>{{ reparation }}</h3>
      </div>
    </div>
    <div class="liste">
      <div class="tableau">
        <div class="ligne">
          <h3>Employés les plus productifs</h3>
          <select v-model="trierTableau1">
            <option value="">Semaine</option>
            <option value="mois">Mois</option>
            <option value="annee">Année</option>
          </select>
        </div>
        <div class="ligne">
          <h4>N°</h4>
          <h4>Nom</h4>
          <h4>Prénom</h4>
          <h4>Maintenance</h4>
        </div>
        <div v-for="user in userData" :key="user.user_id">
          <div class="barre"></div>
          <div class="ligne">
            <p>{{ user.user_id }}</p>
            <p>{{ user.nom }}</p>
            <p>{{ user.prenom }}</p>
            <p>{{ user.maintenance }}</p>
          </div>
        </div>
      </div>

      <div class="tableau">
        <div class="ligne">
          <h3>Ascenseurs en cours</h3>
        </div>
        <div class="ligne">
          <h4></h4>
          <h4>Code erreur</h4>
          <h4>Panne</h4>
          <h4>Agent</h4>
        </div>
        <div v-for="maintenance in maintenanceData" :key="maintenance.error_code">
          <div class="barre"></div>
          <div class="ligne">
            <div class="block-rond">
              <div class="rond" id="rouge"></div>
            </div>
            <p>{{ maintenance.error_code }}</p>
            <p>{{ maintenance.name }}</p>
            <p>{{ maintenance.userName }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="liste">
      <div class="tableau-liste3">
        <div class="ligne">
          <h3>Pièces le plus souvent en panne</h3>
          <select v-model="trierPiece">
            <option value="">Semaine</option>
            <option value="mois">Mois</option>
            <option value="annee">Année</option>
          </select>
        </div>
        <div class="ligne">
          <h4>N°</h4>
          <h4>Nom</h4>
          <h4>Nombre</h4>
          <h4>% des pannes</h4>
        </div>
        <div v-for="piece in pieceData" :key="piece.id">
          <div class="barre"></div>
          <div class="ligne">
            <p>{{ piece.id }}</p>
            <p>{{ piece.name }}</p>
            <p>{{ piece.number }}</p>
            <p>{{ piece.percent }}</p>
          </div>
        </div>
      </div>
      <div class="element-liste3">
        <GmapMap id="gmap" :center="{ lat: 48.8534, lng: 2.3488 }" :zoom="7" map-type-id="terrain"></GmapMap>
      </div>
      <div class="element-liste3">
        <div class="row">
          <select v-model="trierDelaiMoyen">
            <option value="">Semaine</option>
            <option value="mois">Mois</option>
            <option value="annee">Année</option>
          </select>
        </div>
        <h1>{{ delaiMoyen }}h</h1>
        <p class="delai-moyen">
          Délai moyen entre la panne signalée<br />
          et l'intervention
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      trierEnCours: "",
      trierTermine: "",
      trierEnPanne: "",
      trierReparation: "",
      trierTableau1: "",
      trierPiece: "",
      trierDelaiMoyen: "",

      enCours: "10",
      termine: "12",
      enPanne: "20",
      reparation: "18",
      delaiMoyen: "9",

      userData: [
        {
          user_id: "5342",
          nom: "Maillot",
          prenom: "Aymeric",
          maintenance: "410",
        },
        {
          user_id: "856",
          nom: "Poncin",
          prenom: "Séverin",
          maintenance: "390",
        },
        {
          user_id: "2654",
          nom: "Meedendorp",
          prenom: "Thomas",
          maintenance: "250",
        },
        {
          user_id: "6672",
          nom: "Blesse",
          prenom: "Louis",
          maintenance: "240",
        },
      ],
      maintenanceData: [
        {
          error_code: "34",
          name: "Moteur",
          userName: "Louis",
        },
        {
          error_code: "24",
          name: "Capteurs",
          userName: "Thomas",
        },
        {
          error_code: "54",
          name: "Levier",
          userName: "Aymeric",
        },
        {
          error_code: "404",
          name: "Moteur",
          userName: "Séverin",
        },
      ],
      pieceData: [
        {
          id: "4",
          name: "Moteur",
          number: "450",
          percent: "49",
        },
        {
          id: "5",
          name: "Capteur",
          number: "420",
          percent: "42",
        },
        {
          id: "2",
          name: "Boitier",
          number: "212",
          percent: "27",
        },
      ],
    };
  },
  async mounted() {},
  methods: {},
};
</script>

<style scoped>
.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

.delai-moyen {
  margin-bottom: 20px;
  font-weight: bold;
}

.top-element {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element h3 {
  margin-top: 45px;
  font-weight: bold;
  font-size: 29px;
  line-height: 34px;
}

#gmap {
  max-width: 448px;
  height: 250px;
  border-radius: 10px;
}

.element-liste3 {
  width: 448px;
  height: 250px;
  min-width: 340px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.tableau-liste3 {
  width: 398px;
  height: 200px;
  min-width: 300px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  padding: 25px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

.tableau-liste3 .barre {
  margin-bottom: 15px;
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 7% 0 7%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 20px;
}

.liste {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.element {
  height: 200px;
  width: 330px;
  min-width: 320px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
}

#un {
  background: linear-gradient(67.5deg, #84d9d1 0%, #4e9df6 131.83%, #6cbee1 131.83%);
}
#deux {
  background: linear-gradient(67.5deg, #aad886 0%, #4e9df6 131.83%, #6cbee1 131.83%);
}
#trois {
  background: linear-gradient(67.5deg, #d89086 0%, #4e9df6 131.83%, #6cbee1 131.83%);
}
#quatre {
  background: linear-gradient(67.5deg, #a086d8 0%, #4e9df6 131.83%, #6cbee1 131.83%);
}

.tableau {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 630px;
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 10px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
}

.ligne {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ligne p {
  width: 25%;
  text-align: left;
}

.ligne h4 {
  width: 25%;
  font-size: 14px;
  text-align: left;
}

.ligne h3 {
  font-size: 17px;
  margin-bottom: 40px;
}
.ligne select {
  margin-bottom: 40px;
}

.block-rond {
  width: 25%;
  text-align: left;
}

.rond {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

#rouge {
  background-color: #ff0000;
}
#jaune {
  background-color: #fccc63;
}
#bleu {
  background-color: #4c68d7;
}
#vert {
  background-color: #6dda8a;
}

.barre {
  border: 1px solid #e0e0e0;
  margin-bottom: 25px;
  margin-top: 10px;
}
.element select {
  color: white;
  background: none;
  border-bottom: 1px solid white;
}

select {
  border: none;
  border-bottom: 1px solid rgb(124, 121, 121);
  outline: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  opacity: 0.7;
}

.element #gradient1 {
  background-color: #64b5e7;
}
.element #gradient2 {
  background-color: #74b5c9;
}
.element #gradient3 {
  background-color: #8a97c5;
}
.element #gradient4 {
  background-color: #6f94ea;
}

@media screen and (max-width: 1080px) {
  .tableau,
  .tableau-liste3 {
    padding: 20px;
  }

  .tableau h3,
  .tableau-liste3 h3 {
    text-align: left;
    margin-right: 30px;
    line-height: 20px;
  }
}
</style>
