<template>
  <form action="ajoutAscenseur" @submit.prevent="addElevator">
    <div class="containerForm">
      <div class="adresse">
        <label for="adresse">Adresse</label>
        <div class="row1">
          <input type="text" placeholder="111" class="item1" v-model="address.numero" required />
          <input type="text" placeholder="Avenue George v" class="item2" v-model="address.rue" required />
        </div>
        <div class="row2">
          <input type="text" placeholder="06000" class="item1" v-model="address.codepostal" required />
          <input type="text" placeholder="Annecy" class="item2" v-model="address.ville" required />
        </div>
        <input type="text" placeholder="Complément d'adresse" />
      </div>
      <div class="typeAscenseur">
        <label for="type">Type d'ascenseur</label>
        <div class="row">
          <button
            :key="index"
            v-for="(et, index) in elevatorsTypes"
            @click="elevator.type = et.id"
            :class="{ select: et.id === elevator.type }"
          >
            {{ index }}
          </button>
        </div>
        <div class="column">
          <p :key="index" v-for="(et, index) in elevatorsTypes">({{ index }}) {{ et.type }}</p>
        </div>
      </div>
      <div class="donneSup">
        <label for="donneSup">Données Supplémentaires</label>
        <input type="text" placeholder="Référence" v-model="elevator.reference" required />
        <div class="row1">
          <input type="text" placeholder="Marque" class="item1" v-model="elevator.label" required />
          <input type="text" placeholder="Etages" v-model.number="elevator.amountFloor" required />
        </div>
        <div class="row2">
          <input type="text" placeholder="Poids Max" class="item1" v-model.number="elevator.maxWeight" required />
          <input type="text" placeholder="Poids" v-model.number="elevator.weight" required />
        </div>
        <div class="row3">
          <input type="text" placeholder="Largeur" class="item1" v-model.number="elevator.width" required />
          <input type="text" placeholder="Longueur" v-model.number="elevator.length" required />
        </div>
      </div>
      <!--
      <div class="responsable">
        <label for="responsable">responsable</label>
        <div class="row1">
          <input type="text" placeholder="Nom" class="item1" />
          <input type="text" placeholder="Prénom" class="item2" />
        </div>
        <input type="text" placeholder="Téléphone" />
        <input type="text" placeholder="E-mail" />
      </div>
      -->
      <input class="btn_valide" type="submit" placeholder="Valider" />
    </div>
  </form>
</template>
<script>
export default {
  name: "AjoutAscenseur",
  props: ["hideAddElevator", "elevatorsTypes"],
  data() {
    return {
      address: {
        numero: "",
        rue: "",
        codepostal: "",
        ville: "",
      },
      elevator: {
        type: -1,
        address: "",
        label: "",
        reference: "",
        maxWeight: "",
        amountFloor: "",
        width: "",
        length: "",
        weight: "",
      },
    };
  },
  methods: {
    async addElevator() {
      if (this.elevator.type === -1) return;
      this.elevator.address =
        this.address.numero + " " + this.address.rue + " " + this.address.codepostal + " " + this.address.ville;

      let result = await axios.get("https://api-adresse.data.gouv.fr/search/?q=" + this.elevator.address + "&limit=1");
      if (result.data.features.length == 0) {
        alert("Coordonnée géographique non trouvé");
        return;
      }
      this.elevator.lng = parseFloat(result.data.features[0].geometry.coordinates[0]);
      this.elevator.lat = parseFloat(result.data.features[0].geometry.coordinates[1]);

      console.log(this.elevator);
      await axios.post("/api/elevator", this.elevator);

      this.hideAddElevator();
    },
  },
};
</script>

<style scoped>
/* Début formulaire  */

.btn_valide {
  height: 36px;
  width: 126px;
  border-radius: 4px;
  padding: 10px;
  transition: 0.5s;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-family: Avenir;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background: #2a3443;
}

.btn_valide:hover {
  transform: scale(1.1);
}

button.select {
  background: rgb(73, 90, 116);
  color: white;
}

form {
  background: #ffffff;
  display: flex;
  justify-content: center;
  width: 60%;
}

/* Début adresse */

form .adresse {
  display: flex;
  flex-direction: column;
}
form .adresse .row1,
form .adresse .row2 {
  justify-content: space-between;
  display: flex;
}

form .adresse .row1 .item1 {
  width: 25%;
  margin-right: 10px;
}

form .adresse .row1 .item2 {
  width: 70%;
  justify-content: space-between;
}

/* Fin adresse */

/* Début type ascenseur  */

form .typeAscenseur {
  display: flex;
  flex-direction: column;
}

form .typeAscenseur .row {
  display: flex;
  justify-content: space-between;
}

.typeAscenseur button {
  width: 20%;
  margin: 10px 0;
}

.typeAscenseur .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Fin type ascenseur */

/* Début Données Suplémentaires  */
form .donneSup {
  display: flex;
  flex-direction: column;
}

form .donneSup .row1 .row2 .row3 {
  width: 100%;
}

form .donneSup .item1 {
  margin-right: 20px;
}

/* Fin Données Suplémentaires  */

/* Début partie responsable  */

form .responsable {
  display: flex;
  flex-direction: column;
}

form .responsable .row1 {
  width: 100%;
}

form .responsable .row1 .item1 {
  margin-right: 20px;
}

/* Fin partie responsable  */

input {
  background: #ffffff;
  border: 2px solid #a7a7a7;
  border-radius: 10px;
  margin-top: 9px;
  padding: 3px;
}

input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #7e7e7e;
}

form button {
  background: #f1f1f1;
  border: 2px solid #979797;
  border-radius: 10px;
  cursor: pointer;
}

form label {
  font-style: bold;
  font-weight: 800;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.4px;
  color: #000000;
  margin-top: 25px;
  text-align: start;
}

form p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.4px;
  color: #3a3a3a;
  margin-top: 4px;
}

@media screen and (max-width: 1080px) {
  form {
    width: 40vw;
    min-width: 340px;
  }
}

/* Fin formulaire  */
</style>
