<template>
  <li class="item">
    <div class="row">
      <img class="icone" src="../assets/elevator.svg" />
      <div class="column">
        <h3>{{ maintenance.elevator.address }}</h3>
        <p>Ascenseur {{ maintenance.elevator.type.type }}</p>
        <p id="useless-p">
          {{ maintenance.elevator.amountFloor }} Etages ·
          {{ getAmountPeople(maintenance.elevator.maxWeight) }} Personnes · {{ maintenance.elevator.maxWeight }} kg
        </p>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
      <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
    </svg>
  </li>
</template>

<script>
export default {
  name: "Ascenseur",
  props: {
    maintenance: { Object, default: {} },
  },
  methods: {
    getAmountPeople(maxWeight) {
      return Math.round(maxWeight / 79);
    },
  },
};
</script>

<style scoped>
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icone {
  width: 25px;
  height: 25px;
  align-self: center;
  margin-right: 20px;
}
svg {
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
  align-self: center;
}

.item {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 10px 0.5em 10px 0.5em;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li h3 {
  font-family: Poppins;
  font-style: bold;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 2px;
}

li p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  color: #6b6b6b;
}

#useless-p {
  font-size: 68%;
}

@media screen and (max-width: 1080px) {
  #useless-p,
  .icone,
  svg {
    display: none;
  }
}
</style>
