<template>
  <div class="foot">
    <footer>
    <div class ="part-one">
      <ul class="list-one">
        <li class="first-ele"><p>SKYWARD</p></li>
        <div class="text">
          <li><p><a href="/">Notre entreprise</a></p></li>
          <li><p><a href="/contact">À propos</a></p></li>
          <li><p><a href="/about">Notre Equipe</a></p></li>          
        </div>
      </ul>
      <ul class="list-two">
        <li class="first-ele"><p>Le Projet</p></li>
        <div class="text">
          <li><p><a href="/price">Tarifs</a></p></li>
          <li><p><a href="/contact">Nous contacter</a></p></li>
          <li><p><a href="/login">Se connecter</a></p></li>
        </div>
      </ul>
      <ul class="list-three">
        <li class="first-ele"><p>Légal</p></li>
        <div class="text">
          <li><p><a href="/">Mentions Légales</a></p></li>
          <li><p><a href="/">Politique de Confidentialité</a></p></li>
          <li><p><a href="/price">Conditions générales de vente</a></p></li>
        </div>
      </ul>
    </div>

    <div class ="part-two">
      <p>&copy; SKYWARD-2021</p>
      <div class ="images-all">
        <a href="https://www.linkedin.com/in/skyward-master-8a9699216/"><img src="..\assets\client\logo-linkedin.png"></a>
        <a href="https://www.facebook.com/profile.php?id=100070283053108"><img src="..\assets\client\logo-facebook.png"></a>
        <a href="https://www.instagram.com/"><img src="..\assets\client\logo-insta.png"></a>
      </div>
    </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped>

.foot{
  margin-top: 50px;
}

ul p{
  font-size: .9em;
}

ul{
  text-align: left;
}

.images-all{
  margin: 0 auto 0 auto;
}

img{
  width: 20px;
  margin: auto 10px auto 10px;
  border-radius: 3px;
}

li{
  list-style-type: none;
  color: rgb(255,255,255);
  margin-bottom: 1em;
}

a{
  color: rgb(255,255,255);
  text-decoration: none;
}

.first-ele{
  color: rgb(98,109,129);
  margin-bottom: 1em;
  margin-top: 1em;
}

.part-one{
  background-color: rgb(13,14,44);
  display: flex;
  justify-content: space-evenly;
}

.part-two{
  background-color: rgb(4,15,33);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .part-one{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
  }
  ul p{
    margin-left: 40px;
  }
  .list-one{
    margin-top: 20px;
  }
  .list-three{
    margin-bottom: 20px;
  }
  .text{
    line-height: .7em ;
  }

}
</style>