<template>
  <div id="header">
    <div class="header-container" v-if="!mobile">
      <img src="../assets/logo_horizontal.svg" alt="Skyward" @click="home" />
      <Navigation :isConnect="user !== null" />
      <HeaderProfile :mobile="mobile" :user="user" @logout="logout" @hideNavigation="toggleNavigation" />
    </div>
    <div class="header-container" v-else>
      <img src="../assets/logo_icone.svg" alt="Skyward" @click="home" />
      <transition name="appear">
        <div class="navigation-mobile" key="nav" v-if="menuShow">
          <Navigation :mobile="mobile" :isConnect="user !== null" @hideNavigation="toggleNavigation" />
          <HeaderProfile :mobile="mobile" :user="user" @logout="logout" @hideNavigation="toggleNavigation" />
        </div>
      </transition>
      <div class="hamburger" @click="toggleNavigation">
        <div class="h-line"></div>
        <div class="h-line"></div>
        <div class="h-line"></div>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/Navigation.vue";
import HeaderProfile from "@/components/HeaderProfile.vue";
export default {
  name: "Header",
  components: {
    Navigation,
    HeaderProfile,
  },
  props: {
    user: { Object, default: null },
  },
  data() {
    return {
      mobile: false,
      menuShow: false,
    };
  },
  methods: {
    onResize() {
      this.mobile = window.innerWidth <= 1080;
      if (!this.mobile && this.menuShow) this.toggleNavigation();
    },
    toggleNavigation() {
      if (!this.mobile) return;
      this.menuShow = !this.menuShow;
      if (this.menuShow) {
        window.scrollTo(0, 0);
        document.getElementsByTagName("body")[0].style.overflow = "hidden";
      } else document.getElementsByTagName("body")[0].style.overflow = "auto";
    },
    logout() {
      this.$emit("logout");
    },
    home() {
      if (this.$route.path !== "/") this.$router.push("/");
    },
  },
  created() {
    window.addEventListener("resize", this.onResize);
    this.onResize();
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize);
  },
};
</script>

<style scoped>
#header {
  background-color: #ffffff;
  height: 4rem;
  filter: drop-shadow(0px -7px 26px rgba(0, 0, 0, 0.25));
  position: -webkit-sticky;
  position: sticky;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

#header img:first-child {
  height: 2em;
  cursor: pointer;
}

.navigation-mobile {
  position: absolute;
  z-index: 1;
  background: white;
  width: 100%;
  right: 0px;
  top: 4em;
  height: calc(100vh - 4em);
}

.hamburger {
  box-sizing: border-box;
  cursor: pointer;
}

.h-line {
  width: 30px;
  height: 3px;
  border-radius: 30px;
  background: #2c3e50;
  box-shadow: 0px 1px 10px rgb(82, 82, 82);
  margin: 4px;
}

.appear-enter-active,
.appear-leave-active {
  transition: 0.5s;
  overflow: hidden;
}

.appear-enter {
  height: 0px;
}
.appear-enter-to {
  height: calc(100vh - 4em);
}

.appear-leave-to {
  height: 0px;
}
.appear-leave {
  height: calc(100vh - 4em);
}
</style>
