<template>
  <div id="header-profile" v-click-outside="hidePopup">
    <hr v-if="mobile" />

    <div
      id="profile"
      :class="{ mobile, hover: !isConnect() }"
      @click="accesPopup"
    >
      <img class="icone" src="../assets/profil.svg" />
      <p v-if="isConnect()">Bonjour {{ getUser().name }} !</p>
      <p v-else class="esp-pro">Espace Pro</p>
    </div>

    <transition name="appear">
      <div
        id="popup"
        :class="{ mobile }"
        v-if="showPopup || (mobile && isConnect())"
      >
        <div class="row">
          <img class="icone" src="../assets/profil.svg" />
          <p>Rank : {{ getUser().rank.name }}</p>
        </div>
        <div
          class="row"
          @click="
            logout();
            hidePopup();
            hideMenu();
          "
        >
          <img class="icone" src="../assets/logout.svg" />
          <p>Disconnect</p>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "HeaderProfile",
  props: {
    mobile: { Boolean, default: false },
    user: { Object, default: null },
  },
  data() {
    return {
      showPopup: false,
    };
  },
  methods: {
    isConnect() {
      return this.user !== null;
    },
    accesPopup() {
      if (this.isConnect()) {
        this.showPopup = !this.showPopup;
      } else {
        this.$emit("hideNavigation");
        this.$router.push("/login");
      }
    },
    hidePopup() {
      this.showPopup = false;
    },
    hideMenu() {
      if (this.mobile) this.$emit("hideNavigation");
    },
    getUser() {
      return this.isConnect() ? this.user : {};
    },
    logout() {
      this.$emit("logout");
    },
  },
};
</script>

<style scoped>
#header-profile {
  user-select: none;
}
.icone {
  height: 20px;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#profile p {
  margin-left: 15px;
}

#profile:hover p {
  text-decoration: underline;
}

#profile.mobile {
  height: 50px;
  width: auto;
}

#profile.mobile:hover p {
  text-decoration: none;
}

#profile.mobile:hover {
  text-decoration: none;
  cursor: auto;
}

#profile.mobile.hover:hover {
  background: #f5f7fe;
  cursor: pointer;
}

#profile.mobile.hover:hover p {
  text-decoration: underline;
}

#popup.mobile .row {
  width: 100%;
}
#popup.mobile {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
}

#popup {
  position: absolute;
  top: 4em;
  right: 0;
  background: white;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}

.row {
  display: flex;
  min-width: 150px;
  padding: 10px 20px;
  justify-content: center;
  cursor: pointer;
}

.row:hover {
  background: #f5f7fe;
}

.row img {
  margin-right: 10px;
}

hr {
  width: 40vw;
  margin: auto;
}

.appear-enter-active,
.appear-leave-active {
  transition: 0.4s;
}

.appear-enter {
  opacity: 0;
}
.appear-enter-to {
  opacity: 1;
}

.appear-leave-to {
  height: 0px;
}
.appear-leave {
  height: 100%;
}
</style>
