<template>
  <div class="container">
    <div class="container-modale">
      <div class="quitter"></div>
      <div class="container-partie1">
        <div class="container-left">
          <h2>{{ maintenance.title }}</h2>
          <p>{{ maintenance.comment }}</p>
        </div>
        <div class="container-right" v-if="!isClosing">
          <button class="item1" v-if="!maintenance.ended" @click="isClosing = true">Cloturer la maintenance</button>
          <button class="item2" v-if="maintenance.maintenanceType.id !== 2" @click="setRepair">
            Nécessite réparation
          </button>
          <button class="item3" v-if="maintenance.technician === null && !selectUser" @click="selectUser = true">
            Attribuer la maintenance
          </button>
          <button class="item4" v-if="maintenance.technician !== null && !selectUser" @click="selectUser = true">
            {{ maintenance.technician.name }}
          </button>
          <div class="user-select" v-if="selectUser">
            <select v-for="user in users" :key="user.id" name="user" v-model="currentUser">
              <option :value="-1">Aucun</option>
              <option :value="user.id">{{ user.name }}</option>
            </select>
            <p class="valid-user" @click="changeUser()">✔️</p>
            <p class="close-user" @click="selectUser = false">❌</p>
          </div>
        </div>
      </div>
      <div class="container-partie2">
        <div class="container-left"></div>
        <h2>Info</h2>
        <div class="row">
          <div class="col1">
            <p>J.Dupont de Raynaud</p>
            <p>{{ maintenance.elevator.address }}</p>
            <p>{{ maintenance.elevator.label }}</p>
          </div>
          <div class="col3">
            <p>Longueur : {{ maintenance.elevator.length }} m</p>
            <p>Largeur : {{ maintenance.elevator.width }} m</p>
            <p>Charge max : {{ maintenance.elevator.weight }} kg</p>
            <p>Etage {{ maintenance.elevator.amountFloor }}</p>
          </div>
        </div>
      </div>

      <div class="list-com" v-if="!isClosing">
        <div v-for="element in list" :key="element.title" class="com">
          <div v-on:click="element.show = !element.show" class="container-com">
            <p class="titre2" :style="element.show ? 'color:#3388AC' : ''">{{ element.title }}</p>
            <p class="date" :style="element.show ? 'color:#3388AC' : ''">{{ element.date }}</p>
            <div :class="['button', element.show ? 'show' : '']">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                <path d="M0 16.67l2.829 2.83 9.175-9.339 9.167 9.339 2.829-2.83-11.996-12.17z" />
              </svg>
            </div>
          </div>
          <transition name="fade">
            <p
              v-if="element.show !== undefined && element.show && element.commentTechnician !== null"
              class="description"
            >
              {{ element.commentTechnician }}
            </p>
            <p v-if="element.show !== undefined && element.show" class="description">{{ element.comment }}</p>
          </transition>
        </div>
      </div>

      <div class="container-close" v-else>
        <textarea rows="4" placeholder="..." type="text" v-model="maintenanceEnd.comment"></textarea>
        <button class="close" @click="close">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["maintenance", "hideMaintenance", "users"],
  data() {
    return {
      list: [],
      isClosing: false,
      selectUser: false,
      currentUser: -1,
      maintenanceEnd: {
        pieces: [],
        comment: "",
      },
    };
  },
  methods: {
    async changeUser() {
      if (this.currentUser === -1) {
        await axios.delete("/api/maintenance/user/" + this.maintenance.id);
      } else {
        await axios.post("/api/maintenance/user/" + this.maintenance.id + "/" + this.currentUser);
      }
      this.selectUser = false;
      this.$emit("updateMaintenance");
    },
    async setRepair() {
      await axios.post("/api/maintenance/repair/" + this.maintenance.id);
      this.$emit("updateMaintenance");
    },
    getList(maintenance) {
      this.list = [];
      axios.get("/api/maintenance/elevator/end/" + maintenance.elevator.id).then((res) => {
        for (let index = 0; index < res.data.length; index++) {
          res.data[index].show = false;
          res.data[index].date = res.data[index].date.substring(0, 10);
        }
        this.list = res.data;
      });
    },
    async close() {
      await axios.post("/api/maintenance/end/" + this.maintenance.id, this.maintenanceEnd);
      this.hideMaintenance();
      this.$emit("removeMaintenance", this.maintenance.id);
    },
  },
  created() {
    this.getList(this.maintenance);
    if (this.maintenance.technician === null) this.currentUser = -1;
    else this.currentUser = this.maintenance.technician;
  },
  watch: {
    maintenance: function(newVal, oldVal) {
      if (newVal === undefined) return;
      this.isClosing = false;
      this.getList(newVal);
      if (newVal.technician === null) this.currentUser = -1;
      else this.currentUser = newVal.technician;
    },
  },
};
</script>

<style scoped>
.quitter {
  width: 32px;
  height: 32px;
  margin: 20px 20px 0 auto;
  margin-left: auto;
  opacity: 0.3;
}
.quitter:hover {
  opacity: 1;
}

.quitter:before, .quitter:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.quitter:before {
  transform: rotate(45deg);
}
.quitter:after {
  transform: rotate(-45deg);
}

button {
  background: #2a3443;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  transition: 0.5s;
}
button:hover {
  background: white;
  color: #2c3e50;
}


.container-close {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.date {
  text-align: center;
  transition: 0.5s;
}

svg {
  width: 12px;
  height: 12px;
  position: absolute;
  transform: translateX(-50%) translateY(30%);
}

.titre2 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: left;
  min-width: 70%;
  transition: 0.5s;
}

.description {
  padding-top: 3%;
  text-align: left;
}

.button.show {
  fill: #3388ac;
  transform: rotate(0);
  transition: 1s;
  border-color: #3388ac;
}

.button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(180deg);
  border: 1px solid;
  border-color: grey;
  background-color: white;
  user-select: none;
  transition: 1s;
}

.list-com {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-com {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  user-select: none;
}

.com {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 1%;
  flex-wrap: wrap;
  width: 85%;
  margin-top: 10px;
}

.container {
  height: 95vh;
  background-color: #fff;
  width: 60%;
  display: flex;
}

.container-modale {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container-partie1 {
  display: flex;
  justify-content: space-between;
}

.container-left {
  text-align: left;
  margin-left: 50px;
  width: 100%;
}

.container-left p {
  margin-top: 15px;
  width: 85%;
}

.container-right *,
.close {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  height: 30px;
  width: 126px;
  border-radius: 4px;
  transition: 0.5s;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-family: Poppins;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  align-self: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
}

.close {
  background: #2a3443;
}

.container-right > button:hover,
.close:hover {
  transform: scale(1.1);
}

.container-right .item1 {
  margin-right: 50px;
  width: 140px;
  height: 45px;
}

.container-right .item2 {
  margin-top: 15px;
  width: 140px;
  height: 45px;
}

.container-right .item3 {
  margin-top: 15px;
  width: 140px;
  height: 45px;
}

.container-right .item4 {
  margin-top: 15px;
  background: none;
  color: #2c3e50;
}

.container-partie2 {
  display: flex;
  flex-direction: column;
}

.container-partie2 h2 {
  text-align: left;
  margin-left: 50px;
  margin-top: 15px;
}

.container-partie2 .row {
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
}

.container-partie2 .row .col1 {
  margin-top: 10px;
  margin-right: 35px;
  text-align: left;
}

.container-partie2 .row .col3 {
  border-left: 1px solid #000000;
  padding-left: 10px;
  margin-top: 10px;
  text-align: left;
}

.container-close textarea{
  margin-top: 20px;
  width: 70%;
}

.container-partie2 .row .col4 {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .container-right{
    margin-right: auto;
    margin-left: auto;
  }
  .container-partie1{
    flex-direction: column-reverse;
    margin-top: 15px;
  }
  .container {
    width: 90%;
  }

  .container-right .item1 {
    margin-right: 0;
  }
  .container-left, .container-partie2 h2, .container-partie2 .row{
    margin-left: 20px;
    margin-left: 20px;
    width: 90%;
  }
  .container-partie2 .row{
    margin-bottom: 10px;
  }
}
</style>
