<template>
  <div id="nav" :class="{ mobile }">
    <div v-for="link in routes()" :key="link.name" @click="hideNav" class="link">
      <router-link :to="link.url">{{ link.name }}</router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navigation",
  props: {
    mobile: { Boolean, default: false },
    isConnect: { Boolean, default: false },
  },
  data() {
    return {};
  },
  methods: {
    hideNav() {
      this.$emit("hideNavigation");
    },
    routes() {
      if (this.isConnect)
        return [
          {
            url: "/map",
            name: "Carte",
          },
          {
            url: "/dashboard",
            name: "Statistique",
          },
        ];
      else
        return [
          {
            url: "/about",
            name: "À propos",
          },
          {
            url: "/price",
            name: "Tarif",
          },
          {
            url: "/faq",
            name: "FAQ",
          },
          {
            url: "/contact",
            name: "Nous Contacter",
          },
        ];
    },
  },
};
</script>

<style scoped>
.link:hover a {
  text-decoration: underline;
}

#nav {
  display: flex;
  align-items: center;
  min-height: 100%;
}

#nav.mobile {
  display: flex;
  flex-direction: column;
  min-height: 0;
}

#nav.mobile .link {
  height: 50px;
  width: 100%;
  margin: 0;
}

.link a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.link a.router-link-exact-active {
  color: #3489ac;
  text-decoration: underline;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  margin: 0 20px;
  height: 100%;
}

.link:hover {
  cursor: pointer;
}

#nav.mobile .link:hover {
  background: #f5f7fe;
}
</style>
