<template>
  <div id="app">
    <Header id="header" :user="user" @logout="deleteUser" />
    <router-view
      :user="user"
      :myMaintenance="myMaintenance"
      :maintenances="maintenances"
      :users="users"
      :elevators="elevators"
      :elevatorsTypes="elevatorsTypes"
      @registeruser="registerUser"
      @updateuser="getCurrentUser"
      @removeMaintenance="removeMaintenance"
      @updateMaintenance="updateMaintenance"
      @getAllElevator="getAllElevator"
    />
    <Footer id="footer" />
  </div>
</template>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
export default {
  components: {
    Footer,
    Header,
  },
  data() {
    return {
      user: null,
      myMaintenance: [],
      maintenances: [],
      elevators: [],
      users: [],
      elevatorsTypes: [],
    };
  },
  mounted() {
    this.getCurrentUser();
  },
  methods: {
    hasFooter() {
      return this.$route.path !== "/dashboard" && this.$route.path !== "/map";
    },
    deleteUser() {
      axios.get("/api/logout");
      this.user = null;
      if (this.$route.path !== "/") this.$router.push("/");
    },
    updateMaintenance() {
      this.getMyMaintenance();
      this.getMaintenance();
    },
    removeMaintenance(maintenanceId) {
      const index = this.myMaintenance.findIndex((maintenance) => maintenance.id === maintenanceId);
      this.myMaintenance.splice(index, 1);

      const index1 = this.maintenances.findIndex((maintenance) => maintenance.id === maintenanceId);
      this.maintenances.splice(index1, 1);
    },
    async getAllElevatorsTypes() {
      let res = await axios.get("/api/elevator/type");
      this.elevatorsTypes = res.data;
    },
    async getAllElevator() {
      let res = await axios.get("/api/elevator");
      this.elevators = res.data;
    },
    async getMyMaintenance() {
      let res = await axios.get("/api/maintenance/todo/" + this.user.id);
      this.myMaintenance = res.data;
    },
    async getMaintenance() {
      let res = await axios.get("/api/maintenance/todo");
      this.maintenances = res.data;
    },
    async getUsers() {
      let res = await axios.get("/api/user/all");
      this.users = res.data;
    },
    getCurrentUser() {
      axios
        .get("/api/user")
        .then((res) => {
          if (res.data !== "") {
            this.user = res.data;
            this.getMyMaintenance().catch((err) => console.log(err));
            this.getMaintenance().catch((err) => console.log(err));
            this.getUsers();
            this.getAllElevatorsTypes();
            console.log("user", this.user);
            if (this.$route.path === "/login" && this.$route.path !== "/map") this.$router.push("/map");
          }
        })
        .catch((err) => {
          console.log("You are not connect");
          this.user = null;
        });
    },
    async registerUser(user) {
      await axios.post("/api/register/manager", user);
      if (this.$route.path !== "/login") this.$router.push("/login");
    },
  },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f7fe;
}

#app {
  font-family: "Poppins", Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 3em;
}
.text-main {
  font-weight: normal;
  font-size: 21px;
  line-height: 31px;
}
</style>
